{% extends 'base.html' %}
{% load blog_tags %}
{% load static %}
  {% block content %}
      <!-- Slider Section Start -->
    <div class="section slider-section">

        <!-- Swiper Container Start -->
        <div class="slider-container swiper-container animation-style-01">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <!-- Single Slider Start -->
                    <div>

                        <!-- Slider Content Start -->
                        <div class="video-bg">
						<video src={% static 'video/bg.mp4' %} type="video/mp4" autoplay muted loop></video>
						<div class="effects"></div>
							<div class="video-bg__content">
                            <h1 class="title">ФЕДЕРАЦИЯ ТАЭКВОНДО EITF <br>САНКТ-ПЕТЕРБУРГА</h1>
                            <a href={% url 'contacts' %} class="btn btn-primary btn-outline-hover-primary">ПРИСОЕДЕНЯЙТЕСЬ К НАМ </a>
							</div>
                        </div>
                        <!-- Slider Content End -->

                    </div>
                    <!-- Single Slider End -->
                </div>

            </div>
        </div>
        <!-- Swiper Container End -->

    </div>
    <!-- Slider Section End -->


    <div class="section section-padding overlay" data-bg-image={% static 'images/banner/testimonial-banner.jpg' %} data-aos="fade-up" data-aos-duration="1100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="swiper-container testimonial-carousel">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">

                                <!-- Single Testimonial wrapper Start -->
                                <div class="single-testimonial-wrapper">
									    <div class="testimonial-thumb">
                                            <img width="50px" src={% static 'images/icon/testimonial.png' %} alt="Testimonial Image">
                                        </div>
                                    <div class="testimonial-content">
                                        <p>Моя мечта, чтобы Таэквон-До стало спортом номер 1, не только в Санкт-Петербурге, но и по всей России.</p>
                                        <span>Сурненко Алексей Игоревич <br>Президент Федерации Таэквондо EITF Санкт-Петербурга</span>
                                    </div>
                                </div>
                                <!-- Single Testimonial wrapper End -->

                            </div>

                        </div>

                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Newsletter Section Start -->
    <div class="section section-padding overlay" data-bg-image={% static 'images/about/welcome.jpg' %} data-aos="fade-up" data-aos-duration="1100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">

                    <!-- Newsletter wrapper Start -->
                    <div class="newsletter-wrapper">
                        <div class="newsletter-content">
                        <h2>Добро пожаловать</h2>
                        <span></span>
                        <p>Федерация таэквондо EITF приглашает к сотрудничеству спортивные клубы и инструкторов.</p>
                        <p>Наша цель сделать тхэквондо доступным и привлекательным вне зависимости от возраста, уровня подготовки и физических особенностей для жителей Санкт-Петербурга. При этом важнейшим приоритетом является качественное обучение спортсменов и инструкторов техники таэквондо в соответствии с 15-томной энципклопедией таэквондо генерала Чой Хонг Хи и законами биомеханики.</p>
                        <a href={% url 'contacts' %} class="btn btn-primary btn-outline-hover-primary">ВСТУПИТЬ</a>
                        </div>
                        <!-- Newsletter Form Start -->
                        <!-- Newsletter Form End -->
                    </div>
                    <!-- Newsletter wrapper End -->

                </div>
				
				<div class="col-lg-4 order-first order-lg-last offset-md-2">
			
					<div class="about-image service-layer-image ms-auto">
                        <img class="image300_300" src={% static 'images/logo/circle.png'%}>
                    </div>
			
                    
					
                </div>
				
            </div>
        </div>
    </div>
    <!-- Newsletter Section End -->


    <!-- Service Section Start -->
    <div class="section section-margin">
        <div class="container">
            <div class="row m-b-n30 align-items-center">
                <div class="col-lg-6 m-b-30" data-aos="fade-up" data-aos-duration="1100">
                    <div class="about-content mw-100">
                        <h2 class="title">Часть большой и сильной команды</h2>
                        <span></span>
                        <p>Мы являемся членами Всероссийской Федерации Развития Таэквон-До ИТФ, возглавляемой мастером Таэквон-До, пионером боевых искусств в СССР и одним из основоположников Таэквон-До на территории СССР, обладателем 9 дана, гранд-мастером Кан Рудольфом Валентиновичем.</p>
						<a href="https://ru.m.wikipedia.org/wiki/%D0%9A%D0%B0%D0%BD,_%D0%A0%D1%83%D0%B4%D0%BE%D0%BB%D1%8C%D1%84_%D0%92%D0%B0%D0%BB%D0%B5%D0%BD%D1%82%D0%B8%D0%BD%D0%BE%D0%B2%D0%B8%D1%87" class="btn btn-primary btn-outline-hover-primary">Подробнее</a>
                    </div>
                </div>
                <div class="col-lg-6 order-first order-lg-last m-b-30" data-aos="fade-up" data-aos-duration="1500">
                    <div class="about-image service-layer-image ms-auto">
                        <img class="about-image-1" src={% static 'images/about/kan.jpg' %} alt="About Image">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service Section End -->


    {% show_posts %}


     <!-- Newsletter Section Start -->
    <div class="section section-padding section-margin-bottom overlay" data-bg-image={% static 'images/banner/kid.jpg' %} data-aos="fade-up" data-aos-duration="1100">
        <div class="container">
            <div class="row">
                <div class="col-6">

                    <!-- Newsletter wrapper Start -->
                    <div class="newsletter-wrapper">
                        <div class="newsletter-content">
                        <h2>Таэквон-До в массы!</h2>
                        <span></span>
                        <p>Наше руководство ежедневно проводит плодотворную работу для популяризации Таэквон-До EITF в Санкт-Петербурге. В нашу команду входят различные специалисты из области спорта, психологии, маркетинга, информационных технологий и юриспрюденции. <br></p>
						<h4>Более 400 спортсменов уже с нами, и это только начало!</h4>
                        
                        </div>
                        <!-- Newsletter Form Start -->
                        <!-- Newsletter Form End -->
                    </div>
                    <!-- Newsletter wrapper End -->

                </div>
				
				<div class="col-lg-4 order-first order-lg-last offset-md-2">
			
					<div class="about-image ms-auto">
                        <img class="image300_300" src={% static 'images/logo/circle.png' %}>
                    </div>
			
                    
					
                </div>
				
            </div>
        </div>
    </div>
    <!-- Newsletter Section End -->

   <!-- Team Section Start -->
    <div class="section section-margin-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12" data-aos="fade-up" data-aos-duration="1100">
                    <div class="section-title text-center">
                        <h2 class="title">Руководство Федерации</h2>
                        <span class="d-flex thick-border justify-content-center"></span>
                    </div>
                </div>
            </div>
            {% show_staff %}
        </div>
    </div>
    <!-- Team Section End -->



    <!-- Contact Banner section Start -->
    <div class="section section-margin-bottom contact-banner-section">
        <div class="contact-banner-wrapper" data-bg-image={% static 'images/banner/contact-banner.jpg' %}>
            <!-- <img src="assets/images/banner/contact-banner.jpg" alt="Contact Banner Image"> -->
        </div>
        <div class="container-fluid contact-banner-container">
            <div class="row">
                <div class="col-md-12 col-lg-9">
                    <div class="section-title m-b-20 pb-0" data-aos="fade-up" data-aos-duration="1100">
                        <h2 class="title">Свяжитесь с нами</h2>
                        <span class="thick-border"></span>
                        <p>Приглашаем всех желающих присоединиться к нам. Заполните форму и мы с вами свяжемся</p>
                    </div>
                    {% show_feedback_form %}
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Banner section End -->

{% include '_brands.html' %}

{% endblock %}